@charset "utf-8";

.chatbot-container {
    display: flex;
    min-width: 1280px;
    min-height: 100vh;
    .column-left {
        flex: 1;
        display: flex;
        flex-direction: column;
        position: relative;
        min-width: 475px;
        padding: 40px;
        box-sizing: border-box;
        background: #1F4D90;
        .btn-back {
            display: block;
            position: absolute;
            left: 40px;
            top: 40px;
            width: 40px;
            height: 40px;
            background: url(../images/ico_btn_back.svg)no-repeat center/auto;
            &:hover {
                background: url(../images/ico_btn_back_white.svg)no-repeat center/auto;
            }
        } 
        .logo {
            text-align: center;
        }
        .main-title {
            margin-top: 10px;
            text-align: center;
            font-weight: 700;
            font-size: 32px;
            color: $color-white;
        }
        .content {
            flex: 1;
            margin-top: 20px;
            padding: 20px;
            border-radius: 12px;
            border: 1px solid $color-white;
            box-sizing: border-box;
            background: rgba($color-white, 0.2);
            &:nth-of-type(1) {
                flex: 0 0 auto;
            }
            .head-title {
                padding-bottom: 20px;
                font-weight: 700;
                font-size: 18px;
                color: $color-white;
            }
            .file-select {
                .input-radio {
                    position: relative;
                    & + .input-radio {
                        margin-top: 8px;
                    }
                    input[type=radio] {
                        position: absolute;
                        left: 20px;
                        top: 50%;
                        transform: translateY(-50%);
                        border-color: $color-white;
                        background: none;
                        &:checked {
                            border-color: #0079FF;
                            background: $color-white url(../images/ico_chatbot_radio_checked.svg) no-repeat center;
                            & + label {
                                font-weight: 600;
                                color: #1F4D90;
                                background: $color-white;
                            }
                        }
                        & + label {
                            width: 100%;
                            height: 40px;
                            padding: 0 50px 0 46px;
                            line-height: 40px;
                            border-radius: 8px;
                            text-align: center;
                            font-weight: 500;
                            color: $color-white;
                            background: #1F4D90;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }
                    .btn-del {
                        position: absolute;
                        right: 20px;
                        display: block;
                        width: 20px;
                        height: 20px;
                        background: url(../images/ico_btn_file_delete.svg)no-repeat center/auto;
                    }
                }
            }
            .file-preview {
                position: relative;
                height: calc(100% - 42px);
                .txt {
                    display: none;
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    padding-top: 40px;
                    font-size: 20px;
                    text-align: center;
                    color: $color-white;
                    span {
                        font-weight: 200;
                        font-size: 24px;
                    }
                    &.on {
                        display: block;
                    }
                }
                &::before {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    opacity: 0.8;
                    background: url(../images/img_file_preview.jpg) no-repeat center/cover;
                }
                .preview-wrap {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    padding: 40px  0;
                    box-sizing: border-box;
                    overflow: hidden;
                    background: rgba($color-white, 0.9);
                    .file-name {
                        display: block;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        color: #1F4D90;
                    }
                    .table-wrap {
                        height: calc(100% - 40px);
                        margin-top: 20px;
                        overflow-y: auto;
                    }
                    table {
                        border-collapse: collapse;
                        border-bottom: 1px solid #1F4D90;
                        thead {
                            height: 38px;
                            background: $color-white;
                            border-bottom: 1px solid #1F4D90;
                            th {
                                font-weight: 400;
                                color: #1F4D90;
                            }
                        }
                        tbody {
                            tr {
                                height: 40px;
                                border-bottom: 1px solid $color-white;
                                &:last-child {
                                    border-bottom: none;
                                }
                                td {
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }

    }
    .column-right {
        flex: 2;
        padding: 40px 60px;
        background: #EBF1FA;
        .btn-group {
            display: flex;
            gap: 10px;
            button {
                height: 48px;
                line-height: 48px;
                border-radius: 8px;
                font-weight: 700;
                font-size: 18px;
                color: $color-white;
                &::before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    vertical-align: middle;
                }
                &.btn-guide {
                    background: #1F4D90;
                    &::before {
                        background: url(../images/ico_guide.svg)no-repeat center/auto;
                    }
                    &:hover {
                        background: #0079FF;
                    }
                }
                &.btn-reset {
                    background: $color-black;
                    &::before {
                        background: url(../images/ico_reset.svg)no-repeat center/auto;
                    }
                    &:hover {
                        background: #1F4D90;
                    }
                }
            }
        }
        .content {
            height: calc(100vh - 148px);
            margin-top: 20px;
            padding: 40px;
            border-radius: 12px;
            box-shadow: 2px 2px 24px 0 rgba($color-black, 0.12);
            box-sizing: border-box;
            background: $color-white;
            .chatbot-window {
                height: calc(100% - 114px);
                overflow-y: auto;
                border-bottom: 1px solid $color-gray-05;
                .chat {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    margin-bottom: 10px;
                    padding: 20px;
                    border-radius: 12px;
                    &::before {
                        content: '';
                        display: inline-block;
                        flex-shrink: 0;
                        width: 48px;
                        height: 48px;
                    }
                    &.answer {
                        border: 1px solid $color-gray-05;
                        &::before {
                            background: url(../images/img_chatbot_answer.png) no-repeat center/auto;
                        }
                    }
                    &.question {
                        background: #EBF1FA;
                        &::before {
                            background: url(../images/img_chatbot_question.png) no-repeat center/auto;
                        }
                    }
                }
            }
            .chatbot-input {
                position: relative;
                margin-top: 20px;
                .input-item {
                    border:2px solid transparent ;
                    border-radius: 30px;
                    overflow: hidden;
                    background-image:linear-gradient(#fff, #fff), linear-gradient(to right ,#0079FF ,#48F1A3);
                    background-origin:border-box; 
                    background-clip:padding-box, border-box;
                    input[type=text] {
                        height: 60px;
                        padding: 16px 78px 16px 40px;
                        border: none;
                        font-size: 18px;
                        outline: none;
                    }
                }
                .btn-send {
                    position: absolute;
                    right: 40px;
                    top: 16px;
                    width: 28px;
                    height: 28px;
                    background: url(../images/ico_btn_send.svg) no-repeat center/auto;
                    &:hover {
                        background: url(../images/ico_btn_send_hover.svg) no-repeat center/auto;
                    }
                }
            }
            .notice {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-top: 10px;
                padding: 0 40px;
                .info {
                    font-size: 14px;
                    color: #1F4D90;
                    &::before {
                        content: '';
                        display: inline-block;
                        width: 18px;
                        height: 18px;
                        margin-right: 8px;
                        vertical-align: -4px;
                        background: url(../images/ico_notice.svg)no-repeat center/auto;
                    }
                }
            }
        }
    }
    
}