// color
$color-white: #ffffff;
$color-black: #272E3F;
$color-red: #E41515;
$color-blue: #2F52A0;
$color-dark-blue: #143378;
$color-orange: #EC6608;
$color-green: #21CE3D;
$color-gray-01: #A7A9B1;
$color-gray-02: #C8CAD2;
$color-gray-03: #F2F3F7;
$color-gray-04: #F9F9FC;
$color-gray-05: #E3E5EB;
$color-gray-06: #676A77;